<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiang.demo.mapper.ArticleLableMapper">

    <!--根据标签id列表查找标签下是否有文章-->
    <select id="selectArticlesByBatchIds" resultType="com.xiang.demo.entity.ArticleLable">
        select id from article_lable where deleted=0 and lable_id in
        <foreach collection="collection" item="batchIds" open="(" separator="," close=")">
            #{batchIds}
        </foreach>
    </select>
</mapper>
